#footer{
    background-color: var(--main-color);
    color: white;
    text-align: center;
}
.footer2{
    color: white;
    background-color: #0d1721;
    ;
}
.bor1{
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-left: 5px;
    color:white;
    background-color: var(--main-color);
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}
.bor1:hover{
background-color: white;
color: var(--main-color);
}
h4{
text-transform: uppercase;
font-weight: 500;
font-size:1.7rem;
}