<section  id="footer" class="">
    <div class="container py-5 ">
        <div class="row footer1">
            <div class="col-md-4">
                <h4>Location</h4>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h4>Around the web</h4>
                <div class="container">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="pe-3 bor1"><i class="fa-brands fa-facebook"></i></div>
                    <div class="pe-3 bor1"><i class="fa-brands fa-twitter"></i></div>
                    <div class="pe-3 bor1"><i class="fa-brands fa-linkedin-in"></i></div>
                    <div class="pe-3 bor1"><i class="fa-solid fa-globe"></i></div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <h4>About Freelancer</h4>
                <p>Freelancer is a free to use, lincensed Bootstrap theme created by Ahmed Ashraf</p>
            </div>
        </div>
    </div>
</section>
<section class="footer2 text-center pt-4 pb-4 ">
    <div class="col-md-12">
        Copyright &#169; Your Website 2024
    </div>
</section>