<Section class="about min-vh-100 pt-4">
    <app-star [title]="'about'" [customColor]="'white'" class=""></app-star>
<div class=" text-white fs-5 py-5 margin container">
    <div class="row">
        <div class="col-md-12 col-lg-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates facere sequi nihil qui nesciunt possimus magnam dignissimos voluptate quos rerum! Ipsum eligendi quos fuga expedita voluptates. Sed sapiente voluptatum vitae doloremque tenetur?</p></div>
        <div class="col-md-12 col-lg-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates facere sequi nihil qui nesciunt possimus magnam dignissimos voluptate quos rerum! Ipsum eligendi quos fuga expedita voluptates. Sed sapiente voluptatum vitae doloremque tenetur?</p></div>
    </div>
</div>
</Section>