
/* !Custom prp */
:root {
    --main-color:#2c3e50;
    --second-color:#1abc9c;
}

/*! utilities  */

.bg-main {
    background-color: var(--main-color);
}
.text-main{
    color: var(--main-color);
}
.bg-sec {
    background-color: var(--second-color);
}
.text-sec {
    color: var(--second-color);
}
/* !Reset */
a,a:active {
    color: #fff !important;
    text-decoration: none !important;
}